body { background: #e08fef; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 23px; display: flex; }
.block-logger-0 { color: #3722bc; font-size: 14px; margin-bottom: 5px; }
.block-notify-1 { color: #be6b2f; font-size: 13px; margin-bottom: 5px; }
.block-email-2 { color: #6342e4; font-size: 19px; margin-bottom: 5px; }
.block-user-3 { color: #63816b; font-size: 15px; margin-bottom: 5px; }
.block-invoice-4 { color: #d067e2; font-size: 14px; margin-bottom: 5px; }
.block-cluster-5 { color: #774d81; font-size: 16px; margin-bottom: 5px; }
.block-helper-6 { color: #6a4cd9; font-size: 15px; margin-bottom: 5px; }
.block-email-7 { color: #b1d301; font-size: 12px; margin-bottom: 5px; }